<app-topbar></app-topbar>

<main class="pt-2 pb-4">
    <div class="container">
        <div *ngIf="events !== undefined && events.length > 0">
            <div class="row">
                <div class="col-12 col-lg-4" *ngFor="let event of events">
                    <div [routerLink]="['/events/', event.id]">
                        <div class="card my-4">
                            <img class="card-img-top" src="{{event.imagen ? event.imagen : 'assets/imagenes/icono.png'}}" alt="Logo">
                            <div class="card-body">                            
                                <h1>{{ event.nombre }}</h1>
                                <div class="row mb-2">
                                    <div class="col-6">
                                        <span><strong>Lugar: </strong>{{ event.lugar }}</span>
                                    </div>
                                    <div class="col-6">
                                        <span><strong>Fecha: </strong> {{ event.fecha | date: 'dd/MM/YYYY HH:mm' }}h</span>
                                    </div>
                                </div>
                                <p class="card-text">{{ event.descripcion }}</p>
                            </div>
                          </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>