<app-topbar></app-topbar>

<main class="pt-2 pb-4">
    <div class="container">
        <div *ngIf="events && events.length === 0">
            <h3>En estos momentos, no hay eventos en la categoría</h3>
        </div>
        <div *ngIf="events && events.length !== 0">
            <div class="info p-4 my-4">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <img class="card-img-top" src="{{events[0].imagen ? events[0].imagen : 'assets/imagenes/icono.png'}}" alt="Logo">
                        <p class="mt-4"><strong>Lugar: </strong>{{ events[0].lugar }}</p>
                        <p><strong>Fecha: </strong>{{ events[0].fecha | date: 'dd/MM/YYYY HH:mm' }}h</p>
                        <p><strong>Propietario: </strong>{{ ownerName }}</p>
                        <p><strong>Número de inscritos: </strong> {{ subscribersCount }}</p>
                        <div [hidden]="isSubscriber">
                            <span class="btn btn-outline-success w-100 mt-4" (click)="registerUserToEvent()">Inscríbeme!</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h1 class="mt-2">{{ events[0].nombre }}</h1>
                        <div>{{ events[0].descripcion }}</div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</main>

<app-footer></app-footer>